.file_list_top{
    position: relative;
    bottom: 40px;
}
.space_table{
    margin-bottom: 30px;
}
.a_style{
    color: #315EFB;
    cursor: pointer;
}
.a_style_deleted{
    text-decoration: line-through;
    color: #666;
    cursor: text;
}
